<div class=" main-container animated fadeIn fast" *ngIf="film">

    <h1>{{film.title}}</h1>

    <div class="row">
        <div class="col-md-5">
            <img [src]="film | peliculasImagen:true" [alt]="film.title" class="img-thumbnail img-fluid">
            <div class="row pl-3 pr-3 mt-5" *ngIf="resumen && resumen[0]">
                <h1>Trailer:</h1>
            </div>
            <div class="row pl-3 pr-3 mt-5" *ngIf="resumen && resumen[0]">
                <iframe width="100%" height="300px" [src]="resumen | trailer" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

        </div>
        <div class="col-md-7">
            <h3>
                Sinopsis
            </h3>
            <p>
                {{film.overview}}
            </p>
            <p>
                {{film.tagline}}
            </p>
            <p>Título original: "<u><b>{{film.original_title}}</b></u>" </p>
            <p>
                Duración: <span *ngIf="film.runtime > 10">{{film.runtime}} min.</span>
                <span *ngIf="film.runtime < 10">
          No disponible.</span>
            </p>
            <p>
                Fecha de lanzamiento: {{film.release_date | spanishDate}}
            </p>
            <!-- <p>Estado: {{film.status}}</p> -->
            <span *ngIf="film.vote_average > 2">
        <p>
          Nota: <span>{{film.vote_average}}</span>
            </p>
            </span>
            <span *ngIf="film.genres.length > 0">
        <p>
          Género: <span *ngFor="let genere of film.genres">{{genere.name}}, </span>
            </p>
            </span>
            <p *ngIf="film.homepage">
                Página web: <a [href]="film.homepage" target="_blank"> {{film.homepage}}</a>
            </p>

            <button (click)="goBack()" class="btn btn-outline-danger">Volver</button>
        </div>
    </div>
    <div class="row pl-3 pr-3 mt-5" *ngIf="casting && casting.cast.length > 0">
        <h1>Reparto:</h1>
    </div>
    <div class="row pl-3 pr-3" *ngIf="casting">
        <div class="card-deck mx-auto" *ngIf="casting.cast.length > 0">
            <div class="card h-430 card-cast" *ngFor="let actor of casting.cast | slice:0:5">
                <img class="card-img-top" [src]="actor | peliculasImagen" [alt]="actor.name" style="height:250px; width: auto">
                <div class="card-body">
                    <h5 class="card-title" *ngIf="actor.name">{{actor.name}}</h5>
                    <div class="card-text" *ngIf="actor.character">como: {{actor.character}}</div>
                    <!-- <p class="card-text">{{pelicula.overview | slice: 0 :210}} ...</p> -->
                    <button [routerLink]="['/actor',actor.id,'film']" class="btn btn-outline-secondary btn-block btn-crew">más</button>
                    <!-- <button *ngIf="!pelicula.name" [routerLink]="['/film',pelicula.id,'search']" class="btn btn-outline-secondary btn-block">más</button> -->
                </div>
            </div>
        </div>
    </div>
    <div class="row pl-3 pr-3 mt-5" *ngIf="casting && casting.crew.length > 0">
        <h1>Equipo:</h1>
    </div>
    <div class="row pl-3 pr-3" *ngIf="casting">
        <div class="card-deck mx-auto" *ngIf="casting.crew.length > 0">
            <div class="card h-430 card-cast" *ngFor="let tecnico of casting.crew | slice:0:5" style="width: 220px">
                <img class="card-img-top" [src]="tecnico | peliculasImagen" [alt]="tecnico.name" style="height:250px; width: auto">
                <div class="card-body">
                    <h5 class="card-title" *ngIf="tecnico.name">{{tecnico.name}}</h5>
                    <div class="card-text" *ngIf="tecnico.job">Cargo: {{tecnico.job}}</div>
                    <!-- <p class="card-text">{{pelicula.overview | slice: 0 :210}} ...</p> -->
                    <button [routerLink]="['/actor',tecnico.id,'film']" class="btn btn-outline-secondary btn-block btn-crew">más</button>
                    <!-- <button *ngIf="!pelicula.name" [routerLink]="['/film',pelicula.id,'search']" class="btn btn-outline-secondary btn-block">más</button> -->
                </div>
            </div>
        </div>
    </div>
</div>