<div class="row footer">
  <span class="autor">Autor</span>
  <span class="mb-2">Desarrollado por <b><a href="https://javierlopez.eu" class="nolink">Javier López</a></b>
    utilizando el motor de:</span>
  <a href="https://www.themoviedb.org"> <img src="assets/theMdb-light.svg" alt=""></a>
</div>
