<div class="row padding-20">
  <div class="title-home">
    <a href="http://versioncritica.com" class="nolink">
    <div class="row title">
      <h1>VERSIÓN CRÍTICA</h1>
    </div>
    <div class="row subtitle">
      <h3>Mi visión personal del cine</h3>
    </div>
    </a>
  </div>
</div>

<div class="row">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- <a class="navbar-brand" [routerLink]="['home']">Versión Crítica</a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href="http://versioncritica.com">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['home']">Cartelera</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['search']">Buscar</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" (ngSubmit)="searchFim(searchInfo.value)">
      <input class="form-control mr-sm-2" type="search" placeholder="Buscar..." aria-label="Search" #searchInfo>
      <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Buscar</button>
    </form>
  </div>
</nav>
</div>
