<br>
<h1>{{titulo}}</h1>
<hr>
<div class="row" *ngIf="peliculas">

  <div class="col-sm-6 col-xs-12">

    <div class="row animated fadeIn fast puntero">
      <div class="col-sm-12 col-xs-12 div-pic-1" [routerLink]="['/film',peliculas[0].id,'home']" [ngStyle]="{'background-image': 'url('+ (peliculas[0] | peliculasImagen) +')'}">
        <span class="overlay"><span class="overlay-text">{{peliculas[0].title}}</span></span>
      </div>
    </div>
    <div class="row puntero">
      <div class="col-sm-6 col-xs-12 div-pic-2" [routerLink]="['/film',peliculas[1].id,'home']" [ngStyle]="{'background-image': 'url('+ (peliculas[1] | peliculasImagen) +')'}">
        <span class="overlay"><span class="overlay-text">{{peliculas[1].title}}</span></span>
      </div>
      <div class="col-sm-6 col-xs-12 div-pic-2" [routerLink]="['/film',peliculas[2].id,'home']" [ngStyle]="{'background-image': 'url('+ (peliculas[2] | peliculasImagen) +')'}">
        <span class="overlay"><span class="overlay-text">{{peliculas[2].title}}</span></span>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-xs-12">
    <div class="row puntero">
      <div class="col-sm-6 col-xs-12 div-pic-2" [routerLink]="['/film',peliculas[3].id,'home']" [ngStyle]="{'background-image': 'url('+ (peliculas[3] | peliculasImagen) +')'}">
        <span class="overlay"><span class="overlay-text">{{peliculas[3].title}}</span></span>
      </div>
      <div class="col-sm-6 col-xs-12 div-pic-2" [routerLink]="['/film',peliculas[4].id,'home']" [ngStyle]="{'background-image': 'url('+ (peliculas[4] | peliculasImagen) +')'}">
        <span class="overlay"><span class="overlay-text">{{peliculas[4].title}}</span></span>
      </div>
    </div>
    <div class="row puntero">
      <div class="col-sm-12 col-xs-12 div-pic-1" [routerLink]="['/film',peliculas[5].id,'home']" [ngStyle]="{'background-image': 'url('+ (peliculas[5] | peliculasImagen) +')'}">
        <span class="overlay"><span class="overlay-text">{{peliculas[5].title}}</span></span>
      </div>
    </div>
  </div>
</div>