<br>
<hr>

<app-galeria [peliculas]="cartelera | slice:0:6" titulo="Últimos lanzamientos"></app-galeria>

<!-- <app-galeria [peliculas]="populares | slice:0:6" titulo="Películas Populares"></app-galeria> -->

<!-- <app-galeria [peliculas]="popNinos | slice:0:6" titulo="Películas populares entre los peques de la casa"></app-galeria> -->

<div class="row pl-15 mt-5">
  <h1>Últimos Estrenos</h1>

</div>
<hr>
<div class="row pb-5">
  <ul *ngIf="cartelera">
    <li class="puntero animated fadeIn fast" *ngFor="let pelicula of cartelera| slice:0:pe" [routerLink]="['/film',pelicula.id,'home']">
      <span>{{pelicula.release_date | spanishDate}}</span> - <span>{{pelicula.title}}</span>
    </li>
  </ul>

</div>
<div class="row text-center">
  <button class="btn btn-outline-danger mx-auto mb-5" (click)="more()">Más</button>
</div>