<div class=" main-container animated fadeIn fast" *ngIf="actor">

    <h1>{{actor.title}}</h1>

    <div class="row">
        <div class="col-md-5">
            <img [src]="actor | peliculasImagen" [alt]="actor.title" class="img-thumbnail img-fluid">
        </div>
        <div class="col-md-7">
            <h3>
                {{actor.name}}
            </h3>
            <p><b>Sector</b></p>
            <p>{{actor.known_for_department}}</p>
            <p><b>Fecha de nacimiento</b></p>
            <p>
                {{actor.birthday | spanishDate}}
            </p>
            <p>
                <b>Lugar de nacimiento</b>
            </p>
            <p>
                {{actor.place_of_birth}}
            </p>
            <hr>
            <p>
                Popularidad: <span *ngIf="actor.popularity > 2">{{actor.popularity |number:'0.0-2'}} / 10</span>
            </p>
            <p *ngIf="actor.homepage">Página web: <span class="ml-2">{{actor.homepage}}</span> </p>
            <p *ngIf="actor.biography">
                <b>Biografía</b>
            </p>
            <div class="" [ngClass]="{'biography': !moreBio, 'lessBio': moreBio}">
                <p *ngIf="actor.biography">{{actor.biography}}</p>
            </div>

            <button (click)="toggleMoreBio()" class="btn btn-outline-danger" *ngIf="!moreBio && actor.biography">Leer más</button>
            <button (click)="toggleMoreBio()" class="btn btn-outline-danger" *ngIf="moreBio && actor.biography">Menos</button>
            <button (click)="goBack()" class="btn btn-outline-danger ml-auto mr-0 float-rightng">Volver</button>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-xs-12">
            <div class="row" *ngIf="filmografia">
                <h1>Filmografía delante de las cámaras</h1>
            </div>

            <div class="row">
                <ul *ngIf="filmografia && filmografia.cast.length > 0">
                    <li class="puntero animated fadeIn fast" *ngFor="let pelicula of filmografia.cast| slice:0:pe_film" [routerLink]="['/film',pelicula.id,'home']">
                        <span>{{pelicula.release_date | spanishDate}}</span> - <span>{{pelicula.title}}</span><br>
                        <span *ngIf="pelicula.character">interpretando a: {{pelicula.character}}</span>
                    </li>
                </ul>
            </div>
            <div class="row" *ngIf="filmografia && filmografia.cast.length > 0">
                <button class="btn btn-outline-danger mx-auto" (click)="more('film')" *ngIf="!endFilm">Más</button>
            </div>
        </div>
        <div class="col-lg-6 col-xs-12">
            <div class="row" *ngIf="filmografia && filmografia.crew.length > 0">
                <h1>Filmografía detrás de las cámaras</h1>
            </div>
            <div class="row">
                <ul *ngIf="filmografia">
                    <li class="puntero animated fadeIn fast" *ngFor="let pelicula of filmografia.crew| slice:0:pe_tecnic" [routerLink]="['/film',pelicula.id,'home']">
                        <span>{{pelicula.release_date | spanishDate}}</span> - <span>{{pelicula.title}}</span><br>
                        <span>como: {{pelicula.job}}</span>
                    </li>
                </ul>
            </div>
            <div class="row">
                <button class="btn btn-outline-danger mx-auto" (click)="more('crew')" *ngIf="!endTecnic">Más</button>

            </div>
        </div>
    </div>

</div>