<div class="main-container" style="min-height:500px">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group form-inline">
        <!-- <label for="search">Buscar:</label> -->
        <input type="text" name="buscar" (keyup.enter)="search()" [(ngModel)]="buscar" placeholder="Buscar..." class="form form-control">
        <button class="btn btn-outline-danger" (click)="search()">Buscar</button>
      </div>
      <h3>Filtros</h3>
      <div class="custom-control custom-radio">
        <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" value="movies"
          [(ngModel)]="_ps.type">
        <label class="custom-control-label" for="customRadio1">Películas</label>
      </div>
      <div class="custom-control custom-radio">
        <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input" value="personas"
          [(ngModel)]="_ps.type">
        <label class="custom-control-label" for="customRadio2">Personas</label>
      </div>
    </div>

  </div>
  <hr>

  <div class="row">
    <div class="card-columns" *ngIf="_ps.peliculas.length > 0">

      <div class="card puntero" *ngFor="let pelicula of _ps.peliculas">
        <img class="card-img-top" [src]="pelicula | peliculasImagen" [alt]="pelicula.title">
        <div class="card-body">
          <h5 class="card-title" *ngIf="pelicula.title">{{pelicula.title}}</h5>
          <h5 class="card-title" *ngIf="pelicula.name">{{pelicula.name}}</h5>
          <p class="card-text">{{pelicula.overview | slice: 0 :210}} ...</p>
          <button *ngIf="pelicula.name" [routerLink]="['/actor',pelicula.id,'search']" class="btn btn-outline-secondary btn-block">más</button>
          <button *ngIf="!pelicula.name" [routerLink]="['/film',pelicula.id,'search']" class="btn btn-outline-secondary btn-block">más</button>
        </div>
      </div>

    </div>
  </div>
  <div class="row" *ngIf="response">
    <div class="col-xs-12">
      <h3>
        {{response}}
      </h3>
    </div>
  </div>
</div>