@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
    padding-bottom: 200px;
    background-color: #343a40 !important;
    font-family: 'Open Sans', sans-serif;
}

.main-container {
    margin-top: 40px;
    margin-bottom: 150px;
}

.puntero {
    cursor: pointer;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-text {
    color: rgba(255, 255, 255, 1);
    font-size: 1.5em;
    height: -moz-fit-content;
    height: fit-content;
    text-align: center;
    font-weight: 600;
}

.div-pic-1 {
    width: 100%;
    height: 300px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0px !important;
}

.div-pic-1:hover,
.div-pic-2:hover {
    .overlay {
        -webkit-animation-duration: 0.3s;
        animation-duration: 0.3s;
        animation-name: fadeIn;
        opacity: 1;
    }
}

.pic-titulo {
    position: absolute;
    bottom: 0px;
    left: 10px;
    padding: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.div-pic-2 {
    width: 100%;
    height: 200px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0px !important;
}


/* Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

.container {
    background-color: #fff;
    margin-top: 0px !important;
}

.title-home {
    margin-left: 15px;
    width: fit-content;
    .title {
        text-transform: uppercase;
        text-shadow: 1px 2px 5px #969696;
        display: inline-block;
        color: #000;
        line-height: 1.3;
        .h1 {
            font-weight: 600;
        }
    }
    .subtitle {
        border-top: 3px solid #000;
        font-size: 16px;
        background-color: #dd3333;
        color: #fff;
        padding: 0.25rem 0.625rem;
        line-height: 1.3;
        font-weight: 600;
        h3 {
            font-size: 1.5rem
        }
    }
}

.row nav {
    width: 100%;
}

.container {
    width: 980px;
    margin: 20px auto 0;
    position: relative;
    -webkit-box-shadow: 0 0 5px 1px #a8a8a8;
    -moz-box-shadow: 0 0 5px 1px #a8a8a8;
    box-shadow: 0 0 5px 1px #a8a8a8;
    min-height: 1000px;
}

@media screen and (max-width: 1000px) {
    #mh-mobile .container,
    #mh-mobile .header-widget,
    #mh-mobile .copyright-wrap {
        width: 768px;
    }
    .div-pic-1,
    .div-pic-2 {
        // width: 100vw !important;
        .overlay {
            opacity: 1;
        }
    }
    h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 1340px) {
    #mh-mobile .container,
    #mh-mobile .header-widget,
    #mh-mobile .copyright-wrap {
        width: 980px;
    }
}

.padding-20 {
    padding: 20px;
}

nav li.nav-item:hover {
    animation-duration: 300ms;
    animation-name: hoverRed;
    background-color: #dd3333;
}

.pl-15 {
    padding-left: 15px;
}

nav.navbar li.nav-item a.nav-link {
    text-transform: uppercase;
    color: #fff;
    font-size: 100%;
}

@keyframes hoverRed {
    from {
        background-color: transparent;
    }
    to {
        background-color: #dd3333;
    }
}

a.nolink,
a.nolink:hover,
a.nolink:active {
    text-decoration: none;
}

.row.footer {
    color: #fff;
    background-color: #343a40;
    display: grid;
    font-family: 'Open Sans';
    font-size: 18px;
    padding: 15px;
    .autor {
        font-weight: bold;
        border-bottom: 3px solid #dd3333;
        margin-bottom: 10px;
    }
    a {
        color: #fff;
    }
    img {
        width: 200px
    }
}

.custom-radio .custom-control-input:checked~.custom-control-label::before {
    background-color: #dd3333;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    background-color: #dd3333;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dd3333;
}

input.form.form-control,
input.form.form-control:focus {
    outline: 0px;
    box-shadow: none;
}

.card-title {
    height: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-crew {
    position: absolute;
    bottom: 10px;
    width: 80% !important;
    left: 10%;
}

.h-430 {
    height: 430px;
}

.card-text {
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-deck {
    display: contents !important;
    flex-direction: row !important;
}

.card-cast {
    max-width: 220px !important;
    margin-left: 50px;
}

.biography {
    transition: height 1s;
    height: 195px;
    overflow: hidden;
    animation-name: fadeOut;
    animation-duration: 500ms
}

.lessBio {
    animation-name: fadeIn;
    animation-duration: 500ms
}